<span class="relative whitespace-nowrap">
  <span
    class="absolute bg-gradient-to-br from-purple-600 to-blue-500 -left-1 top-1 -bottom-0 -right-0 -rotate-1"
  ></span>
  <span class="relative text-white"><%= text %></span>
</span>
