<div class="overflow-x-auto relative">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="py-3 px-6">Project</th>
        <th scope="col" class="py-3 px-6">Owner</th>
        <th scope="col" class="py-3 px-6">Occurrences</th>
        <th scope="col" class="py-3 px-6">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= project.name %>
          </th>
          <td class="py-4 px-6">
            <%= project.user.name %>
          </td>
          <td class="py-4 px-6">
            <%= link_to "#{project.occurrences.count} occurrences", project_path(project), class: 'text-link' %>
          </td>
          <td class="py-4 px-6">
            <%= button_to 'Delete', user_project_path(project), method: :delete, class: 'text-link' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
