<%= form_tag(github_sign_in_path, method: 'post') do %>
  <button class="w-full btn-primary" type="submit">
    <% if defined?(text) %>
      <%= text %>
    <% else %>
      Login <span class="hidden md:inline">with GitHub</span>
    <% end %>
  </button>
<% end %>
