<p class="text-sm font-normal text-gray-500 dark:text-gray-400">Install the cherry CLI:</p>
<div class="prose dark:prose-invert max-w-none mb-3">
  <pre class="mt-3">npm install -g cherrypush</pre>
</div>
<p class="text-sm font-normal text-gray-500 dark:text-gray-400">Set up a configuration file for your project with:</p>
<div class="prose dark:prose-invert max-w-none mb-3">
  <pre class="mt-3">cherry init</pre>
</div>
<p class="text-sm font-normal text-gray-500 dark:text-gray-400">Verify that everything is working properly:</p>
<div class="prose dark:prose-invert max-w-none mb-3">
  <pre class="mt-3">cherry run</pre>
</div>
<p class="text-sm font-normal text-gray-500 dark:text-gray-400">You can now upload your metrics:</p>
<div class="prose dark:prose-invert max-w-none mb-3">
  <pre class="mt-3">git commit -m "init cherry"<br>cherry backfill --api-key=<%= current_user.api_key %></pre>
</div>
<div class="flex p-2 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-gray-800 dark:text-blue-400" role="alert">
  <svg
    aria-hidden="true"
    class="flex-shrink-0 inline w-5 h-5 mr-3"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
      clip-rule="evenodd"
    ></path>
  </svg>
  <div>This command might take a while, feel free to refresh this page to check the progress!</div>
</div>
