<h1>Authorization Granted</h1>

<p>
  <b><%= @from_user.name %></b> just gave you access to the organization <b><%= @organization.name %></b>.
</p>

<p>You can now view it in <a href="<%= user_projects_url %>">your projects</a>.</p>
