<h1>Authorization Granted</h1>

<p>
  <b><%= @from_user.name %></b> just gave you access to the <b><%= @organization.name %></b> organization.
</p>

<p>You can now access it from <a href="<%= user_projects_url %>">your projects</a>.</p>
