<p>Hello <%= @user.name.split.first %>! And welcome to Cherry.</p>

<p>
  We're a very small team (of two!) and want to make sure we're building a product that is useful for you, so don't
  hesitate to directly reply to this email, introduce yourself, and start a conversation.
</p>

<p>
  To get an overview of the CLI, we recommend setting aside some time to
  <a href="https://cherrypush.com/docs" target="_blank" id="">explore the docs</a>. Otherwise, let's get straight to
  setting up your first project!
</p>

<img
  style="max-width: 100% !important; height: auto !important"
  src="https://www.cherrypush.com/assets/screenshot_metrics-c2dcaa320fbaaab1f5ed5fd2aa972aa4b92f1402491414bd03e9b8a253b7836d.png"
  alt="cherrypush dashboard screenshot"
/>

<p>To set up a new Cherry repository:</p>

<ol>
  <li>
    <span
      >In the CircleCI UI, click 'Add Projects' in the lefthand sidebar and then click 'Set up project' next to the
      repository you want to set up.</span
    >
  </li>
  <li>
    <span
      >Select the language for the project from the drop-down to generate a <code>config.yml</code> file, and make any
      edits necessary in the text editor below.</span
    >
  </li>
  <li>Click "Start Building" and then "Add Config"</li>
</ol>

<p>
  Feel free to check out&nbsp;our getting started guides for <a href="#" target="_blank">Linux</a>,
  <a href="#2.0/hello-world-windows/#section=getting-started" target="_blank">Windows</a>, and
  <a href="#" target="_blank">macOS</a>
  for information specific to each build environment.
</p>

<p>Happy coding!<br />~ Flavio</p>
