<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
      Recent Activity 🔥
    </caption>
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">Author</th>
        <th scope="col" class="px-6 py-3 text-right">Diff</th>
        <th scope="col" class="px-6 py-3"></th>
      </tr>
    </thead>
    <tbody>
      <% metric.contributions.each do |contribution, value| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <td scope="row" class="px-6 py-4">
            <%= commit_author_name(contribution.author_name, contribution.author_email) %>
          </td>
          <td class="px-6 py-4 text-right">
            <%= number_to_diff value %>
          </td>
          <td class="px-6 py-4 text-right">
            <a
              class="text-blue-600 dark:text-blue-500 hover:underline"
              title="Open on GitHub"
              href="<%= github_commit_url(project.name, contribution.commit_sha) %>"
              target="_blank"
            >
              <%= time_ago_in_words(contribution.commit_date) %> ago
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
