<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
      Top contributors 🏆
    </caption>
    <thead class="text-xs text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">AUTHOR</th>
        <th scope="col" class="px-6 py-3 text-right flex items-center justify-end gap-1">
          CHANGES
          <%= render 'components/info_circle', tooltip: 'Number of added or removed occurrences per person.' %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% metric.contribution_by_author.each do |(author_name, author_email), value| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <td scope="row" class="px-6 py-4">
            <%= commit_author_name(author_name, author_email) %>
          </td>
          <td class="px-6 py-4 text-right">
            <span class="mr-2"><%= number_to_diff(value[:addition] + value[:deletion]) %></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
