<h3
  class="font-bold p-3 mb-1 text-sm text-center text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
>
  Top contributors 🏆
</h3>

<div class="overflow-x-auto relative">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="py-3 px-6">Author</th>
        <th scope="col" class="py-3 px-6 text-center">Contributions</th>
      </tr>
    </thead>
    <tbody>
      <% metric.contribution_by_author.each do |(author_name, author_email), value| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="py-4 px-6"><%= commit_author_name(author_name, author_email) %></td>
          <td class="py-4 px-6 text-center">
            <span class="text-red-300">+<%= value[:addition] %></span>
            <span class="text-green-300 ml-4"><%= value[:deletion] %></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
