<% title "Metrics: #{[@project.name, @metric&.name, @selected_owners&.map(&:handle)].compact.join(' | ')}" %>

<%= render 'filters', project: @project, metric: @metric, selected_owners: @selected_owners %>

<% if @project.reports.any? %>
  <%=
    react_component 'MetricsIndex',
                    selectedOwners: @selected_owners || [],
                    owners: @metric&.owners,
                    occurrences: @occurrences,
                    metricId: @metric&.id
  %>

  <% if @metric.blank? %>
    <div class="grid md:grid-cols-3 gap-3">
      <% @project.metrics.sort_by { |metric| metric.name.in?(current_user.favorite_metric_names) ? 0 : 1}.each do |metric| %>
        <%= render 'components/metric_card', metric: metric %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @project.reports.none? %>
  <%= react_component 'BackfillInstructions', currentUser: current_user %>
<% end %>
