<h1>New authorization</h1>

<%= form_with url: user_authorizations_path do %>
  <div class="my-3">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email address*</label>
    <input
      id="email"
      name="email"
      type="email"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="john.doe@company.com"
      required
    />
  </div>

  <div class="my-3">
    <label for="project" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a project*</label>
    <select
      id="project"
      name="project_id"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      required
    >
      <option selected>Choose a country</option>
      <% current_user.projects.private_access.each do |project| %>
        <option value="<%= project.id %>">
          <%= project.name %>
        </option>
      <% end %>
    </select>
  </div>

  <button type="submit" class="btn-primary">Create authorization</button>
<% end %>
