<% title 'New authorization' %>
<h1>New authorization</h1>

<%= form_with url: user_authorizations_path do %>
  <div class="my-3">
    <label for="github_handle" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >GitHub username*</label
    >

    <%= react_component 'AutocompleteField', items: github_handle_autocomplete_items, name: 'user_id' %>
  </div>

  <div class="my-3">
    <label for="project" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a project*</label>
    <%= react_component 'AutocompleteField', items: project_autocomplete_items, name: 'project_id' %>
  </div>

  <button type="submit" class="btn-primary">Create authorization</button>
<% end %>
