<section class="flex flex-col gap-6 rounded-xl bg-slate-100 dark:bg-gray-900 mb-12 p-6 md:p-12 text-center">
  <h2 class="text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
    <%= title %>
  </h2>
  <p class="font-light text-gray-500 md:text-lg dark:text-gray-400">
    <%= text %>
  </p>
  <%= image_tag image, class: 'rounded-lg w-full hover:scale-105 transition drop-shadow hover:drop-shadow-xl' %>
</section>
