<div class="mb-6">
  <div class="video-responsive">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/Kdkn31D_gto"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>

<%# TODO: use README from the cherry-cli instead of duplicating the file on this repo %>
<div class="prose dark:prose-invert mx-auto max-w-none">
  <%= markdown(@content) %>
</div>
