<div class="mb-6">
  <div class="video-responsive">
    <iframe style="border:0;" width="100%" height="400" src="https://www.tella.tv/video/claxq1xr402df0flb9osr8m42/embed" allowfullscreen allowtransparency></iframe>
  </div>
</div>

<%# TODO: use README from the cherry-cli instead of duplicating the file on this repo %>
<div class="prose dark:prose-invert mx-auto max-w-none">
  <%= markdown(@content) %>
</div>

