<h1>Pricing</h1>

<p>Free for open source projects. For private projects, we offer a free trial and a paid plan.</p>
<p>Currently we only offer public projects, but create your account to stay tuned.</p>
