<div class="prose dark:prose-invert mx-auto max-w-none">
  <h2><span>Privacy Policy</span></h2>
  <p>
    <span
      >Your privacy is important to us. It is cherrypush's policy to respect your privacy regarding any information we
      may collect from you across our website, <a href="https://www.cherrypush.com">cherrypush</a>, and other sites we
      own and operate.</span
    >
  </p>
  <p>
    <span
      >We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and
      lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be
      used.</span
    >
  </p>
  <p>
    <span
      >We only retain collected information for as long as necessary to provide you with your requested service. What
      data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as
      unauthorised access, disclosure, copying, use or modification.</span
    >
  </p>
  <p>
    <span
      >We don’t share any personally identifying information publicly or with third-parties, except when required to by
      law.</span
    >
  </p>
  <p>
    <span
      >Our website may link to external sites that are not operated by us. Please be aware that we have no control over
      the content and practices of these sites, and cannot accept responsibility or liability for their respective
      privacy policies.</span
    >
  </p>
  <p>
    <span
      >You are free to refuse our request for your personal information, with the understanding that we may be unable to
      provide you with some of your desired services.</span
    >
  </p>
  <p>
    <span
      >Your continued use of our website will be regarded as acceptance of our practices around privacy and personal
      information. If you have any questions about how we handle user data and personal information, feel free to
      contact us.</span
    >
  </p>
  <p><span></span></p>
  <h3><span>User's responsibilities</span></h3>
  <p>
    <span
      >The user undertakes the responsibility to make appropriate use of the contents and information offered on the
      site with enunciative, but not imitative, behaviour:</span
    >
  </p>
  <ul>
    <li>
      <span>A) Not to engage in activities that are illegal or contrary to good faith and public order;</span>
    </li>
    <li>
      <span
        >B) Not to spread propaganda or content of a racist, xenophobic,
        <a
          href="https://ondeapostar.com/betano-e-confiavel/"
          rel="nofollow"
          target="_BLANK"
          style="color: inherit !important; text-decoration: none !important; font-size: inherit !important"
        >
          betano</a
        >
        or gambling nature, any type of illegal pornography, terrorist claims or against human rights;</span
      >
    </li>
    <li>
      <span
        >C) Do not cause damage to physical systems (hardware) and unattainable (software) of cherrypush, its suppliers
        or third parties, to introduce or disseminate computer viruses or any other hardware or software systems that
        are capable of causing damage previously mentioned.</span
      >
    </li>
  </ul>
  <h3><span>More information</span></h3>
  <p>
    <span
      >Hopefully that has clarified things for you and as was previously mentioned if there is something that you aren't
      sure whether you need or not it's usually safer to leave cookies enabled in case it does interact with one of the
      features you use on our site.</span
    >
  </p>
  <p><span>This policy is effective as of 27 November 2022 13:06.</span></p>
</div>
