<div class="prose dark:prose-invert mx-auto max-w-none">
  <h2><span>1. Terms of Service</span></h2>
  <h3><span>1. Terms</span></h3>
  <p>
    <span
      >By accessing the website at <a href="https://www.cherrypush.com">cherrypush</a> you are agreeing to be bound by
      these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance
      with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or
      accessing this site. The materials contained in this website are protected by applicable copyright and trademark
      law.</span
    >
  </p>
  <h3><span>2. Use License</span></h3>
  <ol>
    <li>
      <span
        >Permission is granted to temporarily download one copy of the materials (information or software) on
        cherrypush's website for personal, non-commercial transitory viewing only. This is the grant of a licence, not a
        transfer of title, and under this licence you may not:</span
      >
    </li>
    <li class="ql-indent-1"><span>modify or copy the materials;</span></li>
    <li class="ql-indent-1">
      <span
        >use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</span
      >
    </li>
    <li class="ql-indent-1">
      <span>attempt to decompile or reverse engineer any software contained on cherrypush website;</span>
    </li>
    <li class="ql-indent-1">
      <span>remove any copyright or other proprietary notations from the materials; or</span>
    </li>
    <li class="ql-indent-1">
      <span>transfer the materials to another person or 'mirror' the materials on any other server.</span>
    </li>
    <li>
      <span
        >This licence shall automatically terminate if you violate any of these restrictions and may be terminated by
        cherrypush at any time. Upon terminating your viewing of these materials or upon the termination of this
        licence, you must destroy any downloaded materials in your possession whether in electronic or printed
        format.</span
      >
    </li>
  </ol>
  <h3><span>3. Disclaimer</span></h3>
  <ol>
    <li>
      <span
        >The materials on cherrypush's website are provided on an 'as is' basis. cherrypush makes no warranties,
        expressed or implied, and hereby disclaims and negates all other warranties including, without limitation,
        implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of
        intellectual property or other violation of rights.</span
      >
    </li>
    <li>
      <span
        >Further, cherrypush does not warrant or make any representations concerning the accuracy, likely results, or
        reliability of the use of the materials on its website or otherwise relating to such materials or on any sites
        linked to this site.</span
      >
    </li>
  </ol>
  <h3><span>4. Limitations</span></h3>
  <p>
    <span
      >In no event shall cherrypush or its suppliers be liable for any damages (including, without limitation, damages
      for loss of data or profit, or due to business interruption) arising out of the use or inability to use the
      materials on cherrypush's website, even if cherrypush or a cherrypush authorised representative has been notified
      orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on
      implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not
      apply to you.</span
    >
  </p>
  <h3><span>5. Accuracy of materials</span></h3>
  <p>
    <span
      >The materials appearing on cherrypush's website could include technical, typographical, or photographic errors.
      cherrypush does not warrant that any of the materials on its website are accurate, complete or current. cherrypush
      may make changes to the materials contained on its website at any time without notice. However cherrypush does not
      make any commitment to update the materials.</span
    >
  </p>
  <h3><span>6. Links</span></h3>
  <p>
    <span
      >cherrypush has not reviewed all of the sites linked to its website and is not responsible for the contents of any
      such linked site. The inclusion of any link does not imply endorsement by cherrypush of the site. Use of any such
      linked website is at the user's own risk.</span
    >
  </p>
  <h3><span>7. Modifications</span></h3>
  <p>
    <span
      >cherrypush may revise these terms of service for its website at any time without notice. By using this website
      you are agreeing to be bound by the then current version of these terms of service.</span
    >
  </p>
  <h3><span>8. Governing Law</span></h3>
  <p>
    <span
      >These terms and conditions are governed by and construed in accordance with the laws of cherrypush and you
      irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</span
    >
  </p>
</div>
