<h1>Open Projects</h1>

<p>Here you can find projects that are publicly hosted by the community.</p>

<p class="mb-3">It's the perfect spot to look for opportunities to contribute to open-source 🤗</p>

<%= render 'components/projects_list', projects: @projects %>
