@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    @apply text-5xl font-extrabold dark:text-white mb-3;
  }

  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }

  .text-link {
    @apply font-medium text-blue-600 dark:text-blue-500 hover:underline;
  }

  .navbar-link {
    @apply block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent;
  }

  .navbar-link-active {
    @apply block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white;
  }

  .container-sm {
    @apply mx-auto max-w-2xl;
  }

  .container-lg {
    @apply mx-auto max-w-5xl;
  }
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
