<div
  style="
        color: #aaa !important;
        font-size: 0.8em !important;
        text-align: center !important;
        padding: 15px 30px !important;
      "
>
  <p>
    You received this message because you're signed up for
    <a href="https://cherrypush.com" style="color: #aaa; cursor: pointer">cherrypush.com</a>. To stop receiving these
    emails,
    <a href="<%= user_settings_url %>" style="color: #aaa; cursor: pointer; text-decoration: underline;"
      >change your setttings here</a
    >.
  </p>
  <p>© <%= Time.current.year %> Cherry. All Rights Reserved.</p>
</div>
