<div
  style="
        color: #aaa !important;
        font-size: 0.8em !important;
        text-align: center !important;
        padding: 15px 30px !important;
      "
>
  <p>
    You received this email because you signed up for
    <a href="https://cherrypush.com" target="_blank" style="color: #aaa; cursor: pointer">cherrypush.com</a>, the one
    place to go to track your code base metrics. To stop receiving these emails, just reply with your request. A real
    human (me!) will personally do that for you.
  </p>
  <p>© <%= Time.current.year %> Cherry. All Rights Reserved.</p>
</div>
