<!DOCTYPE html>
<html class="dark">
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class="dark:bg-gray-900 text-gray-800 dark:text-white">
    <%= yield %>
    <%= render 'components/feedback_button' %>

    <script>
      window.current_user = <%= current_user.to_json(only: User::ALL_ATTRIBUTES).html_safe %>
    </script>
  </body>
</html>
